.body {
    width:100%;
    /*border: 2px solid #fb2e00;*/
    padding: 5px 10px;
    display: inline-block;
}
.menu {
    width: 10%;
    font-family: Open Sans;
    color: yellow;
    border-radius: 10px;
    text-align: center;
    background-color: #fb2e00;
}
.menutext{
    font-size:30px;
}
.table {
    background-color: #fff6da;
    border: 2px solid red;
    font-weight: bold;
}
.theadtable {
    background-color: #fb2e00;
    text-align:center;
}
.title{
    color:yellow;
}
.tbodyfood{
    text-align:center;
}
.btncrud a {
    border: 2px solid #fb2e00;
    background-color: #fb2e00;
    text-decoration: none;
    color: yellow;
    padding: 4px;
    border-radius: 4px;
}
.btncrud a:hover{
    background-color: yellow;
    color: #fb2e00;
}

