@page
@model RestaurantManagement.Pages.Order.SuccessModel
@{
}
@{
	Layout = "_MyLayout";
}
<h1>Order successfully</h1>
<button onclick="showAlert()">Xem chi tiết</button>

<script>
	function showAlert() {
		alert("xx");
	}
</script>
