@page
@model RestaurantManagement.Pages.Sendmail.IndexModel
@{
}
<form method="post">
    <input class="form-group" type="email" name="Email"></input>

    <input type="submit" value="Sendmail" class="btn-outline-light"></input>
</form>