@page
@model RestaurantManagement.Pages.Authentication.LoginModel
@{
}
@{
    Layout = "_MyLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantManagement.styles.css" asp-append-version="true" />
</head>
<body class="container">
    <div class="login-form">
        <h2 class="menutext">Login</h2>
        <form method="post">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" />
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" />
            </div>
            <h1 style="color:red">@Model.message</h1>


            <button type="submit" class="btn">Login</button>
            <button class="btn"><a style="text-decoration:none; color:yellow" href="ResetPasswordOTP">Reset Password</a></button>
        </form>
    </div>
    <div class="row contact">
        <div class="headercontact col-md-12 textfeedback d-flex justify-content-center text-danger">
            <a></a>
            <h2 class="me-5 ms-5">CONTACT</h2>
            <a></a>
        </div>
        <div class="row contactinfo">
            <div class="col-md-6 contacttext">
                <p>FPT University Hoa Lac Campus, Thach That, Ha Noi</p>
                <p>Email: info@restaurant.com</p>
                <p>Phone: +1-123-456-7890</p>
                <p>&copy; 2023 Restaurant Management</p>
            </div>
            <div class="col-md-6 contactimg">
                <div>
                    <a href="https://www.facebook.com"><img src="~/css/fb.png" alt="Logo"></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox"><img src="~/css/google.png" alt="Logo"></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox"><img src="~/css/twitter.png" alt="Logo"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<link href="~/css/authentication/loginregister.css" rel="stylesheet" />

